.principal {
  align-items: center;
  background-image: linear-gradient(45deg, var(--azul), var(--azul-claro));
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.calculadora {
  background: var(--roxo);
  border-radius: 16px;
  padding: 1.5em;
}

#resultado {
  border-radius: 13px;
  padding: 0.8em 1em;
}

.calculadora__botoes {
  padding: 1em 0;
}

.calculadora .botao {
  background: var(--azul-claro);
  border-radius: 12px;
  color: var(--preto);
  font-size: 1.6em;
  height: 50px;
  margin: 0.1em;
  width: 50px;
}

#botao--igualdade {
  height: 110px;
}

#botao--zero {
  width: 110px;
}
.calculadora .botao:hover {
  background-color: var(--azul);
  cursor: pointer;
}
