.rodape {
  align-items: center;
  background-color: var(--roxo);
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: space-evenly;
}

.rodape__copy {
  color: var(--preto);
  font-style: italic;
}
